#################################################
# Build
#################################################

target/
build/

#################################################
# IDE
#################################################

.idea/
*.iml

.vscode/

#################################################
# Logs
#################################################

logs/
*.log

#################################################
# Environment
#################################################

.env
.env.*

#################################################
# Local Spring Profiles
#################################################

application-local.yml
application-local.yaml
application-local.properties

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
# Coverage
#################################################

jacoco.exec
site/jacoco/

#################################################
# Test Reports
#################################################

surefire-reports/
failsafe-reports/